
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  
}

.btn-primary{
    padding: 20px 25px;
    margin: 32px 0px;
    background-color:#FF900E;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;

}

header{
    background-color:rgba(255,144,14,0.10 ) ;
    padding: 0px 100px;
}
li > a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav>ul{
    display: flex;
    gap: 2rem;
    
}
li{
    
    list-style: none;
   
    font-size: 1rem;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title, .middle-title{
    font-weight: 700;
    font-size: 2rem;

}


/* header banner  */
.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    

    
}
.banner-content{
    max-width: 70%;
    text-align: center;
    margin : 0 auto;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;

}

p{
    color: grey;
    
}



.banner > img{

    width: 100%;
    margin-bottom: 50px;
    
}

/* middle section styles  */
.middle{
    display: flex;
    margin:50px 200px;
    align-items: center;
}

.collage {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.collage img{
    width: 100%;
    margin: 5px;
    
}
.middle-text{
    width: 50%;
    margin: 50px;

}

span{
    font-weight: 700;
    font-size: 2rem;
    color: #FF900E;
}

/* feature section styles  */

.feature-section{
    display: flex;
    margin: 40px 200px;
    gap: 100px;
   align-items: center;
}

.features{
    width: 50%;
}
.girl{
    width: 50%;
}

.girl img{
    margin-top: 50px;
    width: 100%;
}

.card{
    padding: 10px 20px;
    margin: 20px 0px;
    box-shadow: 1px 1px 5px rgb(208, 207, 207);
}

.card h3{
    font-weight: 700;
}

.ten-years{
    background-color: #FF900E;
    text-align: center;
    width: 342px;
    padding: 25px;
    border-radius: 5px;
    position: relative;
    bottom: 100px;
    right: 45px;

}
.ten-years h2{
    font-weight: 700;
    font-size: 3rem;
    color: white;
    margin: 20px 0;

}
.ten-years h4{
    font-weight: 500;
    font-size: 1rem;
    color: white;
    margin: 0;
}

/* facts section styles  */
.facts{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.fact-cards{
   margin-top:70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}
.fact-card{
    text-align: center;
    border: 1px solid #FF900E;
    padding: 20px;
    border-radius: 3px;

}

.fact-card h3{
    font-weight: 700;
    font-size: 25px;
}


/* sponsor section styles  */

.sponsor{
    margin-top: 100px;
    text-align: center;
}

.sponsor-img{
   
    display: flex;
    justify-content: space-around;
    margin: 70px 100px;
   
}


footer {
    background-color:rgba(255,144,14,0.10 ) ;
   margin: 50px 200px;
   padding: 10px;
   display: flex;
   justify-content: center;
}
@media screen and (max-width : 576px) {

    header{
       
       padding: 10px;
    }
    nav {
        
        flex-direction: column;
        
    }
    .banner-title{
        font-size: 3rem;
    
    }

    .banner img{
        width: 90%;
        padding: 20px;
    }

    .middle{
        margin: 10px;
        flex-direction: column-reverse;
    }

    .feature-section{
        flex-direction: column;
        margin: 10px 20px;
      
    }
    
    .features{
        width: 100%;
    }
    .girl{
        width: 100%;
    }

    
.collage {
    
    width: 100%;
   
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.middle-text{
    width: 100%;
    margin: 10px;
    text-align: center;

}

.fact-cards{
    margin-top:70px;
    
     grid-template-columns: repeat(2, 1fr);
     gap: 50px;
 }

 .sponsor-img{
   flex-direction: column;
    
   gap: 40px;
}

.ten-years{
    background-color: #FF900E;
    text-align: center;
    width: 202px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    bottom: 100px;
   left: 50px;

}
footer {
    
   margin: 10px 10px;

   

}

footer p{
    font-size: 10px;
}

}
